@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 2.5em;
    font-family: 'Inter', 'Arial', 'Helvetica', 'Roboto', sans-serif;
}

body {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 4rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: 600;
}

p {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    color: hsla(0, 0%, 0%, 80%);
}

/*
a {
    font-weight: 600;
    text-decoration: none;
    color: hsl(0, 0%, 0%, 80%);
}

a:hover {
    text-decoration: underline;
    color: hsla(0, 0%, 0%, 90%);
}
*/

/* Estilo de la imagen */
.canva {
    display: block;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.canva #image {
    max-width: 100%;
    height: 100%;
    border-radius: 1rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 5rem .06rem rgba(0, 0, 0, 0.08);
}

/* Formateo de los estilos del botón */
button {
    font-family: inherit;
    background: none;
    border: none;
    padding: 0;
}

/* Estilos del botón */
button {
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: hsl(214, 80%, 99%);
    background-color: hsl(214, 80%, 56%);
    width: fit-content;
}

button:hover {
    color: hsl(214, 80%, 97%);
    background-color: hsl(214, 80%, 54%);
}